.contenidor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
    grid-template-areas:
                    "cap cap cap cap"
                    "barra  contingut contingut contingut"
                    "peu peu peu peu"


}
.caixa {
    border-radius: 5px;
    padding: 40px;
    background-color: aquamarine;
    border: 2px solid red;
    display: flex;
    justify-content: center;
}
.barra { grid-area: barra; }
.contingut { grid-area: contingut; } 
.cap { grid-area: cap; } 
.peu { grid-area: peu; }
