h1 {
    color: teal
}

p div {
    color: olive;
}

h2,
table caption {
    color: blue
}

table, tr, td, th {
    border:1px solid #000; border-collapse:collapse; padding:5px;
}

div p {
    color: olive
}

.especial tr {
    color: red;
}

p strong {
    color: red;
    font-weight: bold;
}

p .destacat {
    color: orange;
}

p span#especial {
    color: fuchsia;
}

p a{
    color: red
}

p a em {
    color: blue
}

p span.especial {
    color: purple;
}

table thead tr th.especial {
    color: orange
}

table tbody tr th.especial {
    color: orange;
}

table tbody tr th {
    color: red;
}

table tfoot tr th {
    color: red;
}

table tr td {
    color: green
}

td strong {
    color: orange;
}

#adicional p a {
    color: green;
}
